html,
body,
.container {
  background-color: #dddddd;
}

.dashboardRow {
  margin-top: 20px;
}

.dashboardPanel {
  margin-top: 20px;
  height: 365px;
}

.tablePanel {
  margin-bottom: 30px;
}

.gauge {
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
