html,
body,
.container {
  background-color: #dddddd;
}

.dashboardRow {
  margin-top: 20px;
}

.buttonRow {
  margin-top: 25px;
  display: flex;
}

.dashboardButton {
    margin-right: 10px;
    margin-bottom: 25px;
}

.dashboardPanel {
  margin-top: 20px;
  height: 200px;
}

.tablePanel {
  margin-bottom: 30px;
}
